html {
    height: 100%;
}

body {
    min-height: 100%;
}

.bq-button-default, .bq-button-primary {
    border-radius: 500px;
}

.bq-button-large {
    line-height: 48px;
}

.build-pending {
    border-left-color: orange;
    border-left-width: 8px;
    border-left-style: solid;
}

.build-queued {
    border-left-color: blue;
    border-left-width: 8px;
    border-left-style: solid;
}

.build-complete {
    border-left-color: green;
    border-left-width: 8px;
    border-left-style: solid;
}

.bq-notify {
    background-color: blue
}